<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le RISA</title>
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="/images/icons/icon-512x512.png">
    <link rel="apple-touch-icon" href="/images/icons/icon-512x512.png">
    <meta name="description" content="List Restaurant from submission Dicoding Front-End Exper by Rifat Khadafy">
    <meta name="theme-color" content="#FFFFFF"/>
</head>

<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="header">
        <button id="menu" class="header__menu" aria-label="navigation-menu">☰</button>
        <div class="header__inner">
            <h1 class="header__title">
                Le RISA
            </h1>
        </div>
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#/booked">Booked</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/rifat-khadafy-b05378159/">About Us</a></li>
        </ul>
    </nav>

    <main>
        <section id="maincontent" class="content">
        </section>
    </main>
    <footer>
        <p class="footer_text">Copyright © 2021 - Le RISA</p>
    </footer>
</body>

</html>