<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le RISA</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Le RISA
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
        <!-- <a id="menu" href="#" >☰</a> -->
    </header>

    <nav id="drawer" class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/rifat-khadafy-b05378159/">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero__inner">
            <h2 class="hero__title">“Modern Cuisine has no Borders and I Present to You My Lovely Art” - Mauro
                Colagreco</h2>
        </div>
    </div>
    <main>
        <section id="maincontent" class="content">
            <div class="latest">
                <div class="posts">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p class="footer_text">Copyright © 2021 - Le RISA</p>
    </footer>
</body>

</html>