.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
  .content {
    padding: 0;
  }

  .nav {
    z-index: 10;
    background-image: url("../public/images/heros/background.jpeg");
    width: 300px;
    position: absolute;

    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);

    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }

  .hero__title {
    padding: 8px;
  }

  .header {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-image: url("../public/images/heros/background.jpeg");
    background-size: cover;
  }

  .detail-item {
    width: 100%;
  }

  .detail-description {
    padding: 0.5em 1em;
  }
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }

  .detail-item {
    width: 80%;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .post-item__content {
    padding: 16px 0 32px 0;
  }

  .post-item__title {
    font-size: 18px;
  }

  .post-item__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .detail-item {
    width: 50%;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_3-small.png");
    background-position: center;
  }
}
